@using BlazorApp2.Services.Crimes
<div id="crime_table" class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Case ID</th>
                <th>Crime Type</th>
                <th>Date</th>
                <th>Address</th>                
                <th>Severity</th>
                <th>Arrest Made</th>
                <th>Police District</th>
                <th>Weather Condition</th>
                <th>Crime Motive</th>
                <th>Recurring Incident</th>
                <th>Is Sanitized?</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var crime in Crimes)
            {
                <tr>
                    <td>@crime.CaseID</td>
                    <td>@crime.CrimeType</td>
                    <td>@crime.CrimeDateTime()</td>
                    <td>@crime.Address</td>
                    <td>@crime.Severity</td>
                    <td>@string.IsNullOrEmpty(crime.ArrestDate)</td>
                    <td>@crime.PoliceDistrict</td>
                    <td>@crime.WeatherCondition</td>
                    <td>@crime.CrimeMotive</td>
                    <td>@crime.RecurringIncident</td>                 
                
                        <td>@(!crime.IsNotSanitized())</td>
                   
                </tr>
            }
        </tbody>
    </table>
</div>

@code {
    [Parameter] public IEnumerable<CrimeDashboardDto> Crimes { get; set; } = [];
}
